body {
    overflow-x: hidden;
}

.card-index {
    width: 18rem; 
    height: 10rem; 
    margin-left:90px; 
    background-color: #89CFF0;
}

.add-data {
    margin-top: -50px;
    margin-left: 100vh;
}